@model List<Slider>
@{
    int count = 0;
}
<div class="container">
    <div class="d-flex" style="justify-content:space-between;align-items:center">
        <h1>Sliders</h1>
        <a class="btn btn-primary" asp-controller="Slider" asp-action="Create">Create</a>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">No#</th>
                <th scope="col">Title</th>
                <th scope="col">SubTitle</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>

                    <td>@item.Title</td>
                    <td>@item.SubTitle</td>
                    <td>@(item.Description.Length>10?item.Description.Substring(0,10):item.Description)</td>
                    <td>
                        <div style="width:100px">
                            <img width="100%" src="~/Upload/SliderImage/@item.ImgUrl">
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-controller="Slider" asp-action="Update" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-danger" asp-controller="Slider" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>


